{% macro createField(field) %}
  {%- if (field.desc) %}/** {{field.desc}} */{% endif %}
  @Prop({{field.sqlType|safe}})
  {{field.name}}{%if not(field.required)%}?{% endif %}: {{field.jsType|safe}}
{% endmacro %}
import { Prop, raw, Schema, SchemaFactory } from '@nestjs/mongose'
import * as mongoose from 'mongose'
{% for imp in imports -%}
{{imp|safe}}
{% endfor %}

export type {{name}}Document = {{name}} & mongoose.Document

@Schema()
export class {{name}} {
{% for field in fields %}
{{createField(field)}}
{% endfor %}
}

export const {{name}}Schema = SchemaFactory.createForClass({{name}})