import { Injectable } from '@nestjs/common'
import { Resolvable } from '@graphi/nestjs/resolvable'
{% if imports %}{{imports|safe}}{% endif %}

@Injectable()
@Resolvable('{{servicePath}}')
export class {{serviceName}} {
  {{funcCode|safe}}
}
