import { Injectable } from '@nestjs/common'
import { resolvable } from '@graphi/nestjs/resolvable'
{% if imports %}{{imports|safe}}{% endif %}

@Injectable()
@resolvable('{{servicePath}}')
export class {{serviceName}} {
  {{funcCode|safe}}
}
