import { {{ validators }} } from 'class-validator'
import { Type, Expose } from 'class-transformer'

{% for name, dto in dtos %}
{% if dto.desc %}/** {{dto.desc}} */{% endif %}
export class {{name}} {
  {% for field, prop in dto.fields %}
  {% if prop.desc %}/** {{prop.desc}} */{% endif %}
  {% for v in prop.validator -%}
  @{{ v|safe }}
  {% endfor -%}
  @Expose()
  {{field}}{%if not(prop.required)%}?{% endif %}: {{prop.type|safe}}
  {% endfor %}
}
{% endfor %}