{% macro createField(field) %}
  {%- if (field.desc) %}/** {{field.desc}} */{% endif %}
  {% if field.name !== '_id' %}@Prop({{field.sqlType|safe}}){% endif %}
  {{field.name}}{%if not(field.required)%}?{% endif %}: {{field.jsType|safe}}
{% endmacro %}
import { Prop, raw, Schema, SchemaFactory } from '@nestjs/mongoose'
import * as mongoose from 'mongoose'
{% for imp in imports -%}
{{imp|safe}}
{% endfor %}

@Schema()
export class {{name}} {
{% for field in fields %}
{{createField(field)}}
{% endfor %}
}

export type {{name}}Document = {{name}} & mongoose.Document

export const {{name}}Schema = SchemaFactory.createForClass({{name}})